.handler {
  background-color: #5a46d5;
}

.handler.top-left {
  position: absolute;
  cursor: nwse-resize;
  height: 6px;
  width: 6px;
  z-index: 2;
  left: -3px;
  top: -3px;
  background-color: #fff;
  border: 1px solid #5a46d5;
}
.handler.top {
  position: absolute;
  cursor: ns-resize;
  height: 1px;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.handler.top-right {
  position: absolute;
  cursor: nesw-resize;
  height: 6px;
  width: 6px;
  z-index: 2;
  right: -3px;
  top: -3px;
  background-color: #fff;
  border: 1px solid #5a46d5;
}
.handler.right {
  position: absolute;
  cursor: ew-resize;
  width: 1px;
  height: 100%;
  z-index: 1;
  right: 0;
  top: 0;
}
.handler.bottom-left {
  position: absolute;
  cursor: nesw-resize;
  height: 6px;
  width: 6px;
  z-index: 2;
  left: -3px;
  bottom: -3px;
  background-color: #fff;
  border: 1px solid #5a46d5;
}
.handler.bottom {
  position: absolute;
  cursor: ns-resize;
  width: 100%;
  height: 1px;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.handler.right-bottom {
  position: absolute;
  cursor: nwse-resize;
  height: 6px;
  width: 6px;
  z-index: 2;
  right: -3px;
  bottom: -3px;
  background-color: #fff;
  border: 1px solid #5a46d5;
}
.handler.left {
  position: absolute;
  cursor: ew-resize;
  width: 1px;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
